html {
    height: 100%;
}
body {
    font-size: 15px;
    height: 100%;
}

#title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #EEE;
    padding: 5px;
    border-bottom: #DDD 1px solid;
}

#play-button {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: #DDD 1px solid;
    margin-bottom: 5px;
}

#ul {
    list-style: none;
    padding: 0px;
}
#ul li {
    margin-bottom: 5px;
    display: -webkit-box;
}

#play-start-end {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#playlist {
    /* background: #AAA; */
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#playlist::-webkit-scrollbar {
  display: none;
}

.video_title {
    overflow: scroll;
    white-space: nowrap;
}
#quit {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#quit .button{
    width: 100%;
    height: 30px;
    background: #EEE;
    color: #333;
    font-size: 13px;
}

.btn-dope {
    font-size: 13px;
    padding: 5px;
    height: 24px;
    margin-right: 5px;
}

.playing-gif {
    height: 10px;
    margin-left: 5px;
}

#loading {
	width: 40px;
	height: 40px;
	position: absolute;
    left : calc(50% - 20px);
    top : calc(50% - 20px);
}

#control {
    position: fixed;
    bottom: 35px;
    width: 100%;
}

.control-input{
    width: calc( 100% - 90px ) ;
    float: left;
    margin-left: 5px;
}
.control-button {
    float: right;
    margin-right: 5px;
}

#youtube-url {
    border: none;
}