{% extends "layout.html" %} {% block content %}
<div id="player"></div>
<div id="player-control">
    <label class="checkbox">
        <input type="checkbox" id="mute">
        Mute
    </label>
</div>

<div id="playlist">
    <ul id="ul">
    </ul>
</div>

<div id="playinput" class="field">
    <div class="control">
        <div class="control-input">
            <input class="input is-primary" type="text" id="youtube-url" name="youtube-url" placeholder="Youtube URL">
        </div>
        <div class="control-button">
            <a class="button is-black" id="queue">Queue</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/play.js"></script>
{% endblock %}