{% extends "layout.html" %}
{% block content %}
<div class="contents">
    <div class="home">
        <div class="home-title">♫ Play ♫</div>
        <div class="home-platform">
            <a href="/download/osx">
                <div class="platform">
                    Download for OS X
                </div>
            </a>
            <a href="/play">
                <div class="platform">
                    Open Play in your browser
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
