{% extends "layout.html" %}
{% block content %}
<div class="contents">
    <h2 class="title is-2">{{ title }}</h2>
    <div id="playlist">
        <ul id="ul">
            {% for l in list %}
                <li>
                    <a class="button btn-dope" onClick="queue('{{ l.vid }}', this)">
                        Queue
                    </a>
                    {{ l.title }} - {{ l.duration }}
                    &nbsp;&nbsp;
                    <a href="https://youtube.com/watch?v={{l.vid}}" target="_blank"><i class="fa fa-external-link"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="/static/queue.js"></script>
{% endblock %}
