html {
    height: 100%;
    background: black;
}
body {
    height: 100%;
    background: black;
    color: white;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer-menu {
    float: left;
}

.footer-copyright {
    float: right;
    /* color: #666; */
}

.l {
    color: #666;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.contents {
    padding-top: 20px;
    padding-bottom: 120px;
}

.home {
    text-align: center;
}

.home-title {
    font-size: 60px;
    padding: 30px;
}

.home-platform {
    padding-top: 80px;
}
.platform {
    width: 250px;
    font-size: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    color: #000;
    margin: 10px;
}

.control-input{
    width: calc( 100% - 100px ) ;
    float: left;
}

.control-button {
    float: right;
}

input.is-primary {
    background: #000;
    color: white;
}

a, a:hover {
    color: white;
}

a.is-black {
    border: #00d1b2 1px solid !important;
}

a.btn-dope, a.btn-dope:hover {
    background: black;
    border: 1px #888 solid;
    color: white;
    height: 24px;
    margin-right: 5px;
}

a.disabled {
    pointer-events: none;
    color: #999;
}

label {
    color: white !important;
}

#player {
    pointer-events:none;
    border: #333 1px solid;
}

#player-info {
    float: left;
}

#player-control {
    float: right;
}

.clear {
    clear: both;
}

#playlist {
    margin-top: 20px;
    display: inline-block;
}

#playinput {
    margin-top: 20px;
    height: 20px;
}

#ul li {
    margin-bottom: 5px;
}

input.is-primary::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #999;
}
input.is-primary:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #999;
   opacity: 1;
}
input.is-primary::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #999;
   opacity: 1;
}
input.is-primary:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #999;
}
input.is-primary::-ms-input-placeholder { /* Microsoft Edge */
   color: #999;
}

.playing-gif {
    height: 18px;
    margin-left: 5px;
}

#loading {
	width: 40px; /* gif画像の幅 */
	height: 40px; /* gif画像の高さ */
	position: fixed; /* gif画像をスクロールさせない */
	right: 80px; /* gif画像を画面横中央へ */
	top: 80px; /* gif画像を画面縦中央へ */
}
